<section class="container home-section">
    <div class="content">
        <div>

            <h1>Bursary Application</h1>
            <p>Welcome to our Bursary Application Portal! 
                Apply for financial assistance easily and take the first step towards 
                achieving your educational dreams. Join us in making education accessible to all.
            </p>
            <button 
                type="button" 
                class="btn btn-primary" 
                style="background-color: #e28743; border: none;"
                href="#form">
                Get started
            </button>
        </div>
        <div class="bursary-imgbox">
            <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="picture of books"
            class="bursary-img" />
        </div>
    </div>
</section>
<section id="form" class="container">
    <h2>Bursary Application form</h2>
    <app-application-form/>
</section>